.modal-content {
    padding: 20px;
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    padding: 20px;
}

form input {
    border-radius: 5px;
}

form button {
    border-radius: 5px;
    font-size: 18px;
}

